<div class="mb-2 p-2 columns-2 align-middle justify-center">
    <h2 >Backlog de tâche</h2>
    <a [routerLink]="['/tasks/new']" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500  hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
        <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-gray-100">
            New Task
        </span>
      </a>
</div>
<app-backlog />