<div class="flex flex-col justify-between align-middle ">
  <img src="assets/logo-no-bg-no-slogan.svg" class="w-full h-auto max-h-56"
  alt="Logo"/>
  <div *ngIf="displaySlogan" style="line-height:3rem;" class="text-center mt-6">

    <h1 class="font-extrabold" style="color:rgba(242, 183, 5, 1.0); font-size:5rem;"
          font-family="Mada" >TaskHub</h1>
    <h2 class="font-bold" style="color:rgba(242, 183, 5, 1.0); font-size:2rem;"
      font-family="Luckiest Guy"
      >Plan ahead</h2>
  </div>
</div>
