<div *ngIf="this.loadable$ | async as loadable">
<form [formGroup]="form" (ngSubmit)="submit()" >

  <app-text-input
    name="content"
    [control]="getControl('content')"
    label="content of the task"
    [autofocus]="true"
  />
  
  <app-input-date
    name="deadline"
    [control]="getControl('deadline')"
    label="deadline of the project"
    [autofocus]="false"
  />
  <app-checkbox
    name="done"
    [required]="false"
    type="checkbox"
    [control]="getControl('done')"
    label="done of the task"
  />
  
  <app-input-date
  name="doneAt"
  [control]="getControl('doneAt')"
  label="doneAt of the project"
  [autofocus]="false"
/>
  <!-- <app-text-input
    name="projectId"
    [required]="false"
    type="number"
    [control]="getControl('projectId')"
    label="projectId of the task"
  /> -->

  <app-select-input 
    type="number"
    name="projectId"
    label="projectId for task"
    [values]="loadable.projects"
    [control]="getControl('projectId')"
  />

  <app-select-input
    type="number"
    name="parentId"
    label="Parent for task"
    [values]="loadable.tasks"
    [control]="getControl('parentId')"
  />

  <app-select-input 
    name="type"
    label="type of tasks"
    [values]="taskType"
    [control]="getControl('type')"
  />
   
  
    <!-- Save button -->
    <div class="text-center lg:text-left">
      <button
        type="submit"
        class="inline-block rounded w-full bg-blue-500 px-7 pb-2.5 pt-3 text-sm font-medium uppercase leading-normal text-white shadow-[0_4px_9px_-4px_#3b71ca] transition duration-150 ease-in-out hover:bg-primary-600 hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:bg-primary-600 focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] focus:outline-none focus:ring-0 active:bg-primary-700 active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.3),0_4px_18px_0_rgba(59,113,202,0.2)] dark:shadow-[0_4px_9px_-4px_rgba(59,113,202,0.5)] dark:hover:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:focus:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] dark:active:shadow-[0_8px_9px_-4px_rgba(59,113,202,0.2),0_4px_18px_0_rgba(59,113,202,0.1)] disabled:opacity-70"
        [disabled]="invalid$ | async"
      >
        Save
        <span *ngIf="loading$ | async">
          loading ...
        </span>
      </button>
  
      <!-- Register link -->
      <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
        <a
          routerLink="../"
          class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700"
          >Go back</a
        >
      </p>
    </div>
  </form>
</div>