<!-- 
<ul>
    @for(t of this.backlog$ | async; track $index)
    {
        <li><p>{{ t.content }}</p></li>
    } @empty {
        <p>Pas de tache</p>
    }
</ul> -->

<div>

    <ul class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
        @for(t of this.backlog$ | async; track $index)
        {
            <li [class]="($first ? 'rounded-t-lg' : $last ? 'rounded-b-lg': '' )+ [' w-full px-4 py-2 font-medium text-left rtl:text-right border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white']">
                <a [href]="['/tasks/'+t.id]">{{ t.content }}</a>
            </li>
        } @empty {
            
        }
    
    </ul>
    
    
</div>


  
  