
  <div class="relative pt-[0.5rem] flex flex-row" *ngIf="projects$ | async as projects">
    <div class="w-1/2" >
        <app-graph-viz  [projects]="projects" (onClick)="onClickGraph($event)"></app-graph-viz>
    </div>
    <div class="w-1/2 py-4" *ngIf="this.projectId$ | async as projectId">
      <div class="p-4 mb-2 border-b-2 border-gray-400">
        <app-project-form  [projectId]="projectId"></app-project-form>
      </div>
      <div class="p-4">
        <div class="mx-2 my-4 columns-2 align-middle justify-center">
            <h3 class="w-full align-middle">Tasks for the project</h3>
          <div class="flex justify-center align-middle">
            <a [routerLink]="['/tasks/new']" [queryParams]="{projectId:this.projectId}" class="relative inline-flex items-center justify-center p-0.5 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500  hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
              <span class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-gray-100">
                  New Task
              </span>
            </a>
          </div>
          
        </div>
          <ul *ngIf="projects[0].tasks.length > 0" class="w-48 text-sm font-medium text-gray-900 bg-white border border-gray-200 rounded-lg dark:bg-gray-700 dark:border-gray-600 dark:text-white">
            @for(t of projects[0].tasks; track $index)
            {
                <li [class]="($first ? 'rounded-t-lg' : $last ? 'rounded-b-lg': '' )+ [' w-full px-4 py-2 font-medium text-left rtl:text-right border-b border-gray-200 cursor-pointer hover:bg-gray-100 hover:text-blue-700 focus:outline-none focus:ring-2 focus:ring-blue-700 focus:text-blue-700 dark:border-gray-600 dark:hover:bg-gray-600 dark:hover:text-white dark:focus:ring-gray-500 dark:focus:text-white']">
                    <a [routerLink]="['/tasks/'+t.id]">{{ t.content }}</a>
                </li>
            } @empty {
                
            }
        
        </ul>
        
        
      </div>

      <p class="mb-0 mt-2 pt-1 text-sm font-semibold">
        <a
        routerLink="../"
          class="text-danger transition duration-150 ease-in-out hover:text-danger-600 focus:text-danger-600 active:text-danger-700"
          >Go back</a
        >
      </p>
    </div>
</div>
