
<div
  class="relative overflow-hidden h-full w-full bg-cover bg-no-repeat text-center"
  style="background-image: url('assets/bg-home.jpg'); height: 100vh">
  <div
    class="absolute bottom-0 left-0 right-0 top-0 h-full w-full overflow-hidden bg-fixed"
    style="background-color: rgba(0, 0, 0, 0.8)">
    <div class="flex h-full items-center justify-center">
      <div class="text-white">
        <div class="object-center content-center">
          <app-logo></app-logo>
        </div>
        <h2 class="mb-4 text-2xl font-semibold">Welcome to TaskHub</h2>
        <h4 class="mb-6 text-l font-semibold">The only online plateform you will need for your personnal life and future projects
        </h4>
        <hr class="mt-10 mb-2" />
        <p class="text-sm">Already have an account?</p>
        <div class="flex space-x-4 content-center justify-center w-100 mt-4">

          <a
            href="/auth/login"
            class="flex rounded border-2 border-neutral-50 px-7 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
            data-te-ripple-init
            data-te-ripple-color="light">
            login
          </a>

          <a
            href="/auth/register"
            class="flex rounded border-2 border-neutral-50 px-7 pb-[8px] pt-[10px] text-sm font-medium uppercase leading-normal text-neutral-50 transition duration-150 ease-in-out hover:border-neutral-100 hover:bg-neutral-500 hover:bg-opacity-10 hover:text-neutral-100 focus:border-neutral-100 focus:text-neutral-100 focus:outline-none focus:ring-0 active:border-neutral-200 active:text-neutral-200"
            data-te-ripple-init
            data-te-ripple-color="light">
            Signup
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
