<div class="mx-auto my-2">

  <label [htmlFor]="this.name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">{{ this.label }}</label>
  
  <select [formControl]="this.control" [name]="this.name" class="block w-full p-2 bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500  dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500">
      <option *ngFor="let t of types"
              [value]="t" [ngValue]="t">
        {{ values[t] }}
      </option>
    </select>
</div>

<div
*ngIf="control?.dirty && control?.errors"
class="text-sm text-rose-500 -mt-2 mb-4"
>
<p *ngIf="control?.errors?.['required']">{{name}} is required.</p>
<p *ngIf="control?.errors?.['pattern']?.['requiredPattern']">
  Cannot contain special characters. Just spaces!
</p>
</div>