<div class="flex items-center mb-4">
    <input 
        checked
        type="checkbox" 
        [value]="this.name" 
        [name]="this.name" 
        [id]="this.name"
        [formControl]="this.control"        
        [class.invalid]="control?.dirty && control?.errors"
        [required]="required"
        class="w-4 h-4 text-blue-600 bg-gray-100 border-gray-300 rounded focus:ring-blue-500 dark:focus:ring-blue-600 dark:ring-offset-gray-800 dark:focus:ring-offset-gray-800 focus:ring-2 dark:bg-gray-700 dark:border-gray-600" >
    <label       
    [for]="this.name" 
    class="ms-2 text-sm font-medium text-gray-900 dark:text-gray-300">
        {{ this.label }}
    </label>
</div>


<div
*ngIf="control?.dirty && control?.errors"
class="text-sm text-rose-500 -mt-2 mb-4"
>
<p *ngIf="control?.errors?.['required']">{{name}} is required.</p>
<p *ngIf="control?.errors?.['pattern']?.['requiredPattern']">
  Cannot contain special characters. Just spaces!
</p>
</div>