<app-navbar></app-navbar>

<div class="relative pt-[5rem]" *ngIf="projects$ | async as projects">
  <div class="relative pt-[0.5rem] flex flex-row">
    <div class="w-1/2" >
        <app-graph-viz  [projects]="projects" (onClick)="handleNodeClick($event)"></app-graph-viz>
    </div>
    <div class="w-1/2 px-4">
      <router-outlet></router-outlet>
    </div>
</div>
