

<div class="relative overflow-x-auto shadow-md sm:rounded-lg">
    <table class="w-full text-sm text-left rtl:text-right text-gray-500 dark:text-gray-400">
        <thead class="text-xs text-gray-700 uppercase bg-gray-50 dark:bg-gray-700 dark:text-gray-400">
            <tr>
                <th scope="col" class="px-6 py-3">
                    Title
                </th>
                <th scope="col" class="px-6 py-3">
                    Deadline
                </th>
                <th scope="col" class="px-6 py-3">
                    Status?
                </th>
                <th scope="col" class="px-6 py-3">
                    Action
                    <a [routerLink]="newTaskLink$ | async" class="relative ml-2 inline-flex items-center justify-center p-[0.1rem] overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-cyan-500 to-blue-500  hover:text-black dark:text-white focus:ring-4 focus:outline-none focus:ring-cyan-200 dark:focus:ring-cyan-800">
                        <span class="relative px-2 py-1.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-gray-100">
                            New
                        </span>
                      </a>
                </th>
            </tr>
        </thead>
        <tbody>

            @for (item of loadable$ | async; track $index) {
                <tr class="odd:bg-white odd:dark:bg-gray-900 even:bg-gray-50 even:dark:bg-gray-800 border-b dark:border-gray-700" >
                    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                        {{ item.content }}
                    </th>
                    <td class="px-6 py-4">
                        {{ item.deadline }}
                    </td>
                    <td class="px-6 py-4">
                        <app-status-badge [color]="taskBadge(item)" [text]="taskStatus(item)" />
                    </td>
                    <td class="px-6 py-4">
                        <a [routerLink]="['/tasks/'+ item.id ]" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">Edit</a>
                    </td>
                </tr>
            }
            
        </tbody>
    </table>
</div>

